@model List<UberPopug.TaskTrackerService.Tasks.TrackerTask>

@{
    ViewBag.Title = "Tasks";
    Layout = "_Layout";
}

<h2>Tasks tracker</h2>


<div class="container">
    <a asp-controller="Tasks" asp-action="NewTask" class="btn btn-success">Create new task</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Tasks" asp-action="AssignTasks" class="btn btn-primary">Assign tasks</a>
    }
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Jira Id</th>
                    <th scope="col">Status</th>
                    <th scope="col">Assigned to</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        <td>@task.Title</td>
                        <td>@task.JiraId</td>
                        <td>@task.Status.ToString()</td>
                        <td>@task.AssignedToEmail</td>
                        <td>
                             <a asp-controller="Tasks" asp-action="Complete" asp-route-taskId="@task.Id" class="btn btn-success">Complete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>